{{ define "main" }}

  <!-- Get current section parameters, default to "section" or theme defaults if not set -->
  {{ $parameters := dict "pageSize" 6 "featuredPost" false "paginationPages" 2 "showFirstLast" false "readMore" "Full story" }}
  {{ with .Site.Params.Section }}
    {{ $parameters = merge $parameters . }}
  {{ end }}
  {{ with index .Site.Params.Section .Section }}
    {{ $parameters = merge $parameters . }}
  {{ end }}
  
  <!-- Calculate additional variables -->
  {{ $firstPost := first 1 .Pages }}
  {{ $postsForPaging := .Pages }}
  {{ if and (eq $parameters.featuredPost true) (gt (len .Pages) 1) }}
    {{ $postsForPaging = after 1 .Pages }}
  {{ end }}
  {{ $postsPaging := .Paginate $postsForPaging $parameters.pageSize }}

  <!-- Actual content -->
  {{ if (eq $parameters.featuredPost true) }}
    {{ partial "posts/featured.html" (dict "firstpost" $firstPost "readMore" $parameters.readMore) }}
  {{ end }}
  {{ if (not (and (eq (len .Pages) 1) (eq $parameters.featuredPost true))) }}
    {{ partial "posts/list.html" (dict "posts" $postsPaging "readMore" $parameters.readMore) }}
  {{ end }}

  {{ $paginator := .Paginator }}
  {{ $outer := . }}
  {{ partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer "parameters" $parameters)}}

{{ end }}
