<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        <li class="active"><a href='{{ "/" | relLangURL }}'>{{ .Site.Title }}</a></li>
        {{ with $data.contactinfo }}
        <li><a href='{{ "#footer" | relLangURL }}'>{{ i18n "NAV_CONTACT" . }}</a></li>
        {{ end }}
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li {{if eq ($.Site.Language) (.Language)}}class="active"{{end}}><a href='{{ .Permalink }}'>{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
      {{ partial "social" . }}
    </ul>
    {{ end }}
</nav>
